BRdatadict/__pycache__/settings.cpython-312.pyc
datas/__pycache__/views.cpython-312.pyc
BRdatadict/__pycache__/settings.cpython-312.pyc
BRdatadict/__pycache__/urls.cpython-312.pyc
datas/__pycache__/views.cpython-312.pyc
